a{
	display: inline-block;
	color: black;
	text-decoration: none;
	padding-left: 37px;
}
section{
	width: 230px;
	border: 1px solid #EEEEEE;
}
div{
	background-repeat: no-repeat;
	background-position: 0 0;
}
.div1{
	margin-left: 13px;
	background-image: url(../img/unit23/作业1-1.jpg);	
}
.div2{
	margin-left: 10px;
	background-image: url(../img/unit23/作业1-2.jpg);	
}